<%= simple_form_for(@previsao) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :previsao %>
    <%= f.input :ativo %>
    <%= f.association :frequencia %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
