<%= simple_form_for(@categorium) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :categoria %>
    <%= f.input :ativo %>
    <%= f.association :nicho %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
