<%= simple_form_for(@nicho) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nicho %>
    <%= f.input :ativo %>
    <%= f.association :categoria %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
