<p id="notice"><%= notice %></p>

<p>
  <strong>Nicho:</strong>
  <%= @nicho.nicho %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @nicho.ativo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @nicho.categoria %>
</p>

<%= link_to 'Edit', edit_nicho_path(@nicho) %> |
<%= link_to 'Back', nichos_path %>
